{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ service.name }}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>{{ service.name }}</h1>
    <img src="{% static service.image %}" alt="{{ service.name }}">
    <p><strong>Цена:</strong> ₽{{ service.price }}</p>
    <a href="{% url 'glasses-list' %}">Назад к списку</a>
</body>
</html>